TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=nFdhLes1Dw_txQiI0MCu-60Bl6yINWaq
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=